* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightcyan;
}

header {
  background-color: rgb(63, 9, 134);
  text-align: center;
  padding: 20px;
  color: aliceblue;
}

.navigation {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

.left_nav {
  float: left;
}

li a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(17, 17, 17);
}


.column {
  float: left;
  padding: 10px;
}

.column.left{
  width: 30%;

}

.Introduction{
  border-radius: 25px;
background-color: aquamarine;
border: 2px solid #73AD21;
padding: 20px;
}

.Hope{
  border-radius: 25px;
  background-color: aquamarine;
  border: 2px solid #73AD21;
  padding: 20px;
  margin-top: 10px;
  }

 .learn{
  background-color: aquamarine;
  list-style-type: square;
 }

.column.middle{
  width: 37.23%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 3px;
}

.column.middle:hover {
  border: 1px solid #777;
}

div.desc {
  padding: 5px;
  text-align: center;
}


.column.right{
  width: 30%;
}

.Hobby{
  border-radius: 25px;
background-color: aquamarine;
border: 2px solid #73AD21;
padding: 20px;
}

.Fun-Fact{
  border-radius: 25px;
  background-color: aquamarine;
  border: 2px solid #73AD21;
  padding: 20px;
  margin-top: 10px;
  }


footer {
  width: 100%;
  padding-top: 10px;
  float: left;
  text-align: center;
  justify-content: center;
  font-size: 13px;
  color: #aaa;  
  background-color: #f1f1f1;
}


